<Addons::Addon @name="ember-concurrency" class="bg-green-300">
  <pre>The count is {{this.count}}</pre>

  <Button
    {{on "click" (perform this.doSomething)}}
    class="{{if this.doSomething.isRunning 'bg-green-500' 'bg-green-800'}} text-white"
    disabled={{this.doSomething.isRunning}}
  >
    {{#if this.doSomething.isRunning}}
      running...
    {{else}}
      Click me
    {{/if}}
  </Button>
</Addons::Addon>
